* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 14px;
}

li {
    all: unset;
    padding: 3px 8px;
    caret-color: transparent;
    cursor: pointer;
}

button {
    all: unset;
    cursor: pointer;
}

h1 {
    font-size: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
    background-color: #f5f5f7;
}

.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 1240px;
    margin: auto;
    font-size: 16px;
}


.categories-item:hover {
    color: #adadaf;
}

.items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.active {
    background-color: black;
    color: white;
    border-radius: 15px;
}

.item {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.03);
}

.item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 40px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-flip:hover::after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.btn-flip:hover::before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.btn-flip::after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: #323237;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}

.btn-flip::before {
    top: 0;
    left: 0;
    opacity: 1;
    color: #adadaf;
    display: block;
    padding: 0 30px;
    line-height: 40px;
    transition: 0.5s;
    position: relative;
    background: #323237;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}

.header__form {
    display: flex;
    gap: 20px;
}

.hide {
    display: none;
}